@import "~bootstrap/scss/bootstrap";
@import "_partials/reset.scss";

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.user-img {
    width: 100px;
}

// navbar layout admin
.navbar-brand {
    font-size: 20px;
    font-weight: 600;
}
