@import "~bootstrap/scss/bootstrap";
@import "_partials/reset.scss";

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

//immagine info utente
// .user-img {
//     width: 100px;
//     border-radius: 5px;
// }

//colore dei link sull'header
.nav-link {
    color: #1f7a8c;
}

.nav-link:hover {
    color: #022b3a;
}

// navbar layout admin
.navbar-brand {
    font-size: 20px;
    font-weight: 600;
}

// dimensioni spazzi presi dal titolo e il logout nell navbar
.show-home {
    display: none;
}

.default-witdh {
    width: 100px;
}

//navbar - sidebar color
.navbar,
.bg-sidebar {
    background-color: #022b3a;
}

//sidebar color when active
.bg-sidebar-active {
    background-color: #1f7a8c;
}

.title-color {
    color: #1f7a8c;
}

.title-secondary-color {
    color: #022b3a;
}

.btn-color {
    background-color: #1f7a8c;
    color: white;
}

.title-bold {
    font-weight: 600;
}

//area personale
// .orizontal-chart #myChart {
//     min-height: 150px;
//     min-width: 300px;
// }

.none-fot-right-chart {
    display: none;
}

.ag-list-container {
    width: 30rem;
}

.titoto-chart {
    font-weight: 600;
    color: #1f7a8c;
}

// dimensioni spazzi presi dal titolo e il logout nell navbar
@media (min-width: 576px) {
    .default-witdh {
        width: 200px;
    }
    .hide-home {
        display: none;
    }
    .show-home {
        display: block;
    }
}

//navbar
@media (max-width: 767px) {
    .navbar-zindex {
        z-index: 99;
    }
}
//responsive pagina info
@media (min-width: 992px) {
    .no-img {
        display: none;
    }
    .orizontal-chart #myChart {
        min-height: 230px;
        min-width: 460px;
    }
    .none-fot-right-chart {
        display: block;
    }
    .no-img-bottom-chart {
        display: none;
    }
    .ag-list-container {
        width: 18rem;
    }
}

@media (min-width: 1200px) {
    .orizontal-chart #myChart {
        min-height: 300px;
        min-width: 600px;
    }
}
