@import "~bootstrap/scss/bootstrap";
@import "_partials/reset.scss";

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

//immagine info utente
// .user-img {
//     width: 100px;
//     border-radius: 5px;
// }

//colore dei link sull'header
.nav-link {
    color: #1f7a8c;
}

.nav-link:hover {
    color: #022b3a;
}

// navbar layout admin
.navbar-brand {
    font-size: 20px;
    font-weight: 600;
}

//navbar - sidebar color
.navbar,
.bg-sidebar {
    background-color: #022b3a;
}

//sidebar color when active
.bg-sidebar-active {
    background-color: #1f7a8c;
}

.title-color {
    color: #1f7a8c;
}

.title-secondary-color {
    color: #022b3a;
}

.btn-color {
    background-color: #1f7a8c;
}

.title-bold {
    font-weight: 600;
}

@media (max-width: 767px) {
    .navbar-zindex {
        z-index: 99;
    }
}
